.Maincard {
  background-color: rgb(236, 236, 236);
  border-radius: 25px;
  width: 70vw;
  height: 70vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.Maincard h1 {
  font-size: 30px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}
