* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.Maincard {
  background-color: rgb(211, 210, 210);
  border: 2px solid rgb(211, 210, 210);
  border-radius: 25px;
  width: 60vw;
  height: 70vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.Listcard {
  background-color: rgb(231, 229, 229);
  border: 2px solid rgb(231, 229, 229);
  border-radius: 15px;
  width: 30vw;
  height: 10vw;
  padding: 5px;

}
.Listcard th:first-of-type {
  width: 30vh;
}
.Listcard table  {
  border: 2px solid;
  border-radius: 5px;
  width: 28vw;
  height: 10vh;
}
.Listcard table th:nth-child(2),td:nth-child(2) {
  border-left: 2px solid;
  text-align: center;
}
.Listcard table th:nth-child(3),td:nth-child(3) {
  text-align: right;
}
.Listcard table tr:first-child,tr:last-child {
  background-color: gray;

}
.Listcard * {
  margin: 5px;
}
